[Unit]
Description=Volleyball Referee API

[Service]
ExecStart=/opt/run_api.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
